<div style="padding-top: 80px; padding-left: 20px">
<div class="row">
        <div class="col-sm-4">            
                <h6 style='font-family:Varela Round; color: rgba(0,65,110,100); font-weight: bold'>
                    Select A Company To Build The Stock Chart
                </h6>
                <br>
            <select class="browser-default custom-select" ng-model="selectedCompany">
                <option ng-repeat="x in listCompany">{{x}}</option> 
            </select>
        </div>
        <div class="col-sm-4">
            <h6 style='font-family:Varela Round; color: rgba(0,65,110,100); font-weight: bold; text-align: center'>
                    Filter 
            </h6>
            <div class="form-inline">
                <div class="col-md-6">Start Time<br>
                    <input class="form-control without_ampm" type="time" id="example_start_Input" name="startTime" ng-model="default.startDate"
                    placeholder="HH:mm:ss" min="09:30:00.0" max="11:30:00.0" required step="0.1"/>
                </div>
                <div class="col-md-6">End Time<br>
                    <input class="form-control without_ampm" type="time" id="example_end_Input" name="endTime" ng-model="default.endDate"
                    placeholder="HH:mm:ss" min="09:30:00.0" max="11:30:00.0" required step="0.2"/>
                </div>
            </div>
        </div>
        <div class="col-sm-2"><br>
            <h6 style='font-family:Varela Round; color: rgba(0,65,110,100); font-weight: bold'>
                    Select Indent
            </h6>
            <select class="browser-default custom-select" ng-model="selectIndent">
                    <option ng-repeat="x in selectIndentlist">{{x}}</option> 
            </select>
        </div>
        <div class="col-sm-2">
            <br><br>    
            <a ui-sref="dashboard" class="btn btn-primary" ng-if="selectedCompany" ng-click="buildChart()">Build Chart</a>
        </div>
      </div>
      <div>
        <div id="chartdiv" style="height: 500px"></div>											
      </div>
</div>