body, html {
    height: 100%;
}

.masthead h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
  }
  .masthead {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    padding: 15rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("/image/masthead.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("/image/masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .line2 {
      color: aliceblue !important;
      font-family: 'Varela Round';
  }

  .without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
  }
  input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance:none;
    appearance: none;
    margin: -10px; 
  }

  custom-slider.rzslider .rz-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .custom-slider.rzslider .rz-selection {
    background:red;
  }
  
  .custom-slider.rzslider .rz-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  .custom-slider.rzslider .rz-pointer:after {
    display: none;
  }
  
  .custom-slider.rzslider .rz-bubble {
    bottom: 14px;
  }
  
  .custom-slider.rzslider .rz-limit {
    font-weight: bold;
    color: orange;
  }
  
  .custom-slider.rzslider .rz-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }
  
  .custom-slider.rzslider .rz-tick.rz-selected {
    background: orange;
  }

  #loading-bar .bar {
    background: orange;
    height: 10px;
    }